.intro{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color: #f0f0f0;
    gap: 45px;
    font-size: 30px;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    border-radius: 10px;
}

.teste{
    background-image: url(../assets/nebuu.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: texto 10s ease-in-out infinite alternate;
}

@keyframes texto {
    from{
        background-position: 0% 50%;
    }

    to{
        background-position: 100% 50%;
    }
    
}
.coffe{
    font-size: 25px;
}

.intro svg{
    font-size: 30px;
    color: #d7d7ea;
    margin: 5px;
    padding-top:15px;
}

.intro img{
    
    width: 300px;
    height: 300px;
}

.homeAboutMe{
    gap: 50px;
    display: flex;
    margin-top: 80px;
    margin-left: 60px;
    margin-bottom: 90px;
    align-items: center;
    justify-content: center;
}

.homeAboutMe img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.curriculo{
    background-color: #40E0D0;
    width: 200px;
   
}

span{
    color: #f0f0f0;
    font-size: 15px;
}

h1{
    color:#40E0D0;
    cursor: pointer;
    border-right: #f0f0f0 2px solid;
}

.typingAnimation{
    animation: blink 5200ms infinite normal;;
}


@keyframes blink{
    from{
        border-right-color: #d7d7ea;
    }
    to{
        border-right-color: transparent;
    }
}

.botao{
    display: flex;
    color: #ffff;
    cursor: pointer;
    width: 130px;
    height: 40px;
    font-size: 13px;
    padding-left: 5px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}


.custom-shape-divider-bottom-1664601271 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664601271 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 194px;
}

.custom-shape-divider-bottom-1664601271 .shape-fill {
    fill: #00ACC1;
}

.botao:hover{
    background-color: #21325e;;
}

.stack{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.ssk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ssk img{
    width: 400px;
    height: 300px;

}
.stacks{
    margin-left: 270px;
    gap: 50px;
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

h2{
    border-bottom: #21325e 2px solid;
}

.botoes{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.projectHomeList{
    margin: auto;
    width: 1400px;
    padding-top: 100px;
    flex-direction: column;
}

.projectHomeList img{
    width: 440px;
    height: 400px;
    transition: 0.5s;
    border-radius: 30px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.5);
}

.projectHomeList img:hover{
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.9);
}


h3{
    display: flex;
    font-size: 25px;
    padding-top: 30px;
    justify-content: center;
}

.arrow{
    display: flex;
    color: green;
    font-size: 30px;
    justify-content: center;
}

#writeProjects{
    padding: 20px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.writeExperiences{
    width: 600px;
    height: 250px;
    font-size: 13px;
    transition: 0.4s;
    text-align: start;
    padding-left: 10px;
    border-radius: 30px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.5);
}
.writeExperiences:hover{
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.9);
}

.link{
    color:black;
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
}

.link:hover {
    color:green;
    text-decoration: none;
}

details{
    padding: 2%;
}

.descriptionOne{
    text-align: justify;
    width: 300px;
}

.cv{
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.cv svg{
    top: 8px;
    transition: 0.5s;
    position: relative;
}

.cv svg:hover{
    color: black;
   
}

svg{
    transition: 0.5s;
}
svg:hover{
    color:#40E0D0;
}

.divForm{
    display: flex;
    height: 100vh;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
}
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column; 
    color: whitesmoke;
}

.forms h1{
    font-size: 45px;
}
.f-h3{
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.forms div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;

}

.forms input{
    height: 17px;
    width: 200px;
    padding: 2%;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px;
    transition: 0.5s;
    border: none;
}

.forms input:hover{
    width: 210px;
}

.forms textarea{
    padding: 1%;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
}

.forms button{
    margin-top: 20px;
}

figure img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

figcaption{
    font-size: 13px;
}

.separete{
    padding-right: 370px;
    padding-left: 350px;
    display: flex;
    justify-content: space-between;
}

.stackExtra{
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerSkills{
    top: 10px;
    position: relative;
    width: 50%;
    height: 20px;
    background-color: #D2D7D3;
    margin-left: 25%;
    border-radius: 5px;
}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px ;
    color: white;
    border-radius: 5px;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms button{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    border: none;
    transition: 1s;
}
.forms button:hover{
    color: white;
    background-color: #21325e;
}

.english{width: 85%; background: url(../assets/greennebulosa.jpg);}
.comunicativo{width: 75%; background: url(../assets/greennebulosa.jpg);}
.equipe{width: 87%; background: url(../assets/greennebulosa.jpg);}
.flexibilidade{width: 95%; background: url(../assets/greennebulosa.jpg);}
.proatividade{width: 75%; background: url(../assets/greennebulosa.jpg);}
.critica{width: 85%; background: url(../assets/greennebulosa.jpg);}
 
@media only screen and (max-width: 900px) {
    .homeAboutMe img{
        display: none;
    }

    .homeAboutMe{
        font-size: 11px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
    }

    .descriptionOne{
        width: 250px;
    }

    .projectHomeList{
        width: 330px;
    }

    .projectHomeList img{
        width: 340px;
    }

    .divForm{
        display: flex;
        flex-direction: column;
    }

    .forms{
        height: 450px;
        width: 340px;
        gap: 0px;
        padding: 2%;
    }

    .forms h3{
        font-size: 10px;
    }
    .forms h1{
        display: none;
    }

    .imageContact{
        max-width: 340px;
    }
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
    }

    .stackExtra{
        gap: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .containerSkills{
        top: 20px;
        position: relative;
        width: 40%;
        margin-left: 25%;
        border-radius: 5px;
    }
    
    
    .separete{
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        
    }
    .intro{
        display: flex;
        flex-direction: column-reverse;
    }
    .intro img{
        display: flex;
        height: 200px;
        width: 200px;
    }
    .intro h1{
        margin-bottom: 150px;
        font-size: 15px;
    }
    .writeExperiences{
        width: 350px;
        height: 400px;
    }

    .link{
        font-size: 15px;
    }

    .stack{
        position: relative;
        left: -100px;
    }

    .stacks{
        display: flex;
        flex-wrap: nowrap;
        margin-left: 150px;
    }


   
  }
  
  @media only screen and (max-width: 600px) {
    
  }
  