
.intro{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
    gap: 45px;
    font-size: 30px;
}

.coffe{
    font-size: 25px;
}

.intro svg{
    font-size: 30px;
    color: #d7d7ea;
    margin: 5px;
    padding-top:15px;
}

.intro img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

span{
    color: #f0f0f0;
    font-size: 15px;
}

h1{
    color:#40E0D0;
    cursor: pointer;
    border-right: #f0f0f0 2px solid;
}

.typingAnimation{
    animation: blink 5200ms infinite normal;;
}


@keyframes blink{
    from{
        border-right-color: #d7d7ea;
    }
    to{
        border-right-color: transparent;
    }
}

.botao{
    display: flex;
    color: #ffff;
    cursor: pointer;
    width: 130px;
    height: 40px;
    font-size: 13px;
    padding-left: 5px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

.botao:hover{
    background-color: #21325e;;
}

.stack{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.stacks{
    gap: 50px;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
}

h2{
    border-top: #21325e 2px solid;
}

.botoes{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.projectHomeList{
    gap: 100px;
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.projectHomeList img{
    width: 650px;
    height: 350px;
    transition: 0.5s;
    border-radius: 30px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.5);

}

.projectHomeList img:hover{
    width: 652px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.9);
}

h3{
    display: flex;
    font-size: 25px;
    padding-top: 30px;
    justify-content: center;
}

.arrow{
    display: flex;
    color: green;
    font-size: 30px;
    justify-content: center;
}

#writeProjects{
    padding: 1%;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
}

.writeExperiences{
    width: 700px;
    height: 200px;
    font-size: 13px;
    transition: 0.4s;
    text-align: start;
    padding-left: 10px;
    border-radius: 30px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.5);
}
.writeExperiences:hover{
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.9);
}

.link{
    color:black;
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
}

.link:hover {
    color:green;
    font-size: 23px;
    text-decoration: none;
}

 
@media only screen and (max-width: 900px) {
    .intro{
        display: flex;
        flex-direction: column-reverse;
    }
    .intro img{
        height: 200px;
        width: 200px;
    }
    .intro h1{
        font-size: 15px;
    }
    .writeExperiences{
        width: 350px;
        height: 400px;
    }

    .link{
        font-size: 15px;
    }

    .stack{
        padding-left: 50px;
    }


   
  }
  
  @media only screen and (max-width: 600px) {
    
  }
  